<%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
        <section class="contactSect">
            <h2>CONTACT</h2>
            <hr class="hr">
            <p class="copyBold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Duis at velit maximus, molestie
                est a, tempor
                magna.</p>


            <section>
                <form action="" class="contactGridParent">
                    <input type="text" name="name" id="name" placeholder="Name" class="contacttGridItem1">

                    <input type="text" name="email" id="email" placeholder="Email" class="contacttGridItem2">

                    <input type="number" name="phone" id="phone" placeholder="Phone" class="contacttGridItem3">

                    <textarea name="" id="" cols="50" rows="10" placeholder="Your message here"
                        class="contacttGridItem4"></textarea>
                    <section class="contactFlex">
                        <div class="contacttGridItem5">
                            <h6 class="contactImprint"><i class="fas fasYlw fa-map-marker-alt"></i>5th London Boulevard,
                                U.K.</h6>
                        </div>

                        <div class="contacttGridItem6">
                            <h6 class="contactImprint"><i class="fas fasYlw fa-phone"></i>+40 729 131 637 /+40 726 458
                                782</h6>
                        </div>

                        <div class="contacttGridItem7">
                            <h6 class="contactImprint"><i class="fas fasYlw fa-envelope"></i>office@mindblister.com</h6>
                        </div>
                    </section>
                    <button class="formBtn contacttGridItem8">SEND MESSAGE</button>

                </form>
            </section>
        </section>

        <section class="contactBGImg"></section>
        <%- include("./partials/footer.ejs") %>