<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<section class="galleryBG">
    <h6 class="mainH6">SPECIALITIES</h6>
    <section class="SectionFlex gallerySection">
        <article class="imgGrid">
            <div class="imgGridImgLeft galleryImg"></div>
            <div class="yellowBoxLeft"></div>
        </article>
    
        <article>
            <h2 class="copyWhite">CHOCOLATE PANCAKES</h2>
            <hr class="hr">
            <p class="copyBold copyWhite">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
            <p class="copyReg copyWhite">Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </article>
        
    </section>
    </section>
<%- include("./partials/footer.ejs") %>
