<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<section class="aboutFlex">
    <article>
        <h2>ABOUT US</h2>
        <hr class="hr">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</p>
        <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
    </article>
    <article class="imgGrid">
        <div class="imgGridImg"></div>
        <div class="yellowBoxRight"></div>
    </article>
</section>
<%- include("./partials/footer.ejs") %>
